*
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
    color: white;
}

img
{
    border-radius: 25px;
}

header
{
    background-color: #40748A;
    height: 80px;
    text-align: center;
    line-height: 80px;

    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*PIE DE PÃGINA*/
footer
{
    background-color: #40748A;
    height: 40px;
    width: 100%;
    text-align: left;
    
    bottom: 0;
    position: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer > p
{
    line-height: 40px;
    float: left;
    margin-left: 10px;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 20px;
}

.instagram
{
    text-decoration: none;
    background-color: #7723a1;
}

.instagram:hover
{
    background-color: #a531df;
}

.twitter
{
    background-color: #2A55AB;
}

.twitter:hover
{
    background-color: rgb(53, 108, 218);
}

.github
{
    background-color: rgb(65, 65, 65);
}

.github:hover
{
    background-color: rgb(105, 105, 105);
}

/*PERFIL IZQUIERDA*/

.perfil
{
    background-color: #40748A;
    margin-top: 15px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 15px;
    width: 40%;
    display: flex;

    font-size: 20px;
}

.perfil > h2
{
    line-height: 140px;
    margin-left: 15px;
}

/*PERFIL DERECHA*/

.contenido
{
    background-color: #40748A;
    margin-top: 15px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 15px;
    width: 55%;
    float: right;
}

.contenido > p
{
    font-size: 22px;
}